@media screen and (max-width: 1400px) {
    .bloki {
        display: none;
       }
     
    
       .button-phone {
        display: none;
       }

}


@media screen and (max-width: 1200px) {
  

   .bloki {
    display: none;
   }

   .button-phone {
    display: none;
   }
   

    .nav a:first-child {
        font-size: 18px; 
        letter-spacing: -1.2px;  
         }

    .wrapper-img {
        width: 50%;
    }

    .image-home {
        margin-top: 50%;
        height: 50%;
        width: 50%;
        }

        .clock {
            display: none;
        }

        .about {
            font-size: 15px;
            margin: 10%;
            text-align: end;
            }
            

}

@media screen and (max-width: 600px) {


.loader {
    font-size: 12px;
    text-align: center;
    margin: 0%;
    font-weight: 100;
}


.loader-gallery {
font-size: 40px;
}

.wrapper-img {
    width: 50%;
}
.wrapper {
    overflow: hidden;
    position: fixed;
}


.image-home {
box-shadow: none;
position: relative;
margin-top: 59%;
height: 34%;
width: 90%;
}

.box {
    height: 100%;
width: 100%;
background: none;
}


    .nav a {
        font-size: 40px;
    }

    .nav {
        gap:1rem;
    }

    .nav a:first-child {
font-size: 18px;   
 }

 .sub-header {
    position: relative;
    display: block;
    text-align: center;
    font-size: 5px;
    margin: 0%;
    top:30%;
    padding: 50px;
    background: none;
 }


 .sub-header a {
    text-align: center;
    font-size: 14px;
 }
 .button {
    display: none;
 }

.button-phone {
    background: none;
    text-align: center;
 font-weight: 300;
 font-size: 15px;
 letter-spacing: -1px;
}


.work-link {
    font-weight: 300;
    text-align: center;

}

a.contact-link {
margin-bottom: 2px;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: -1px;
}

 .button-phone,
 a.contact-link {
    display: block;
    animation: none;
    margin: 10px;

 }

 .work-link {
    font-size: 17px;
    text-align: center;
 }

 .clock {
display: none;
 }


.bloki{
    display: flex;
}

#gallery{
    display: none;
}

.block {
    display: none;
}

 .about {
font-size: 15px;
margin: 10%;
text-align: start;
}

.about p {
    width: 100%;
    margin-top: -20%;
}



}