
@media (max-width: 900px) {
 





    
}







@media (max-width: 600px) {
 


body {
    background: url(https://i.pinimg.com/564x/81/88/56/8188561b30e700b239bfaea7ab5c1eba.jpg) center center  ;
    background-size: 14%;

}

#showreel {
    position: absolute;
    text-decoration: none;
    color: #000000;
    bottom: 0;
    right: 0;
    padding: 2em 1em;
    font-size: 13px;
  }
  

nav {

    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  nav a {
  
    padding: 1em;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
  }
  
  
  
    nav p {
        width: 60%;
          color: #090909;
          mix-blend-mode: difference;
          font-size: 10px;
        }

        .slider {
            width: 50%;
            left: -22%;
            position: relative;
            cursor: crosshair;

          }



          .slider-item {
            display: inline-flex;
            width: 50vw;
            height: 10vw;
          
            padding: 3vw;
          }

        .slider-item figure {
            position: relative;
            padding-bottom: 200%;
            padding-right: 100%;
            overflow: hidden;
          }
          
          .slider-item figure img {
            position: absolute;
            width: 100%;
            object-fit: cover;
          }
          


          .slider-progress {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 20vw;
            height: 2px;
            margin: 2em;
            background: rgb(218, 218, 218);
          }
          
          .slider-progress-bar {
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgb(37, 37, 37);
            transform: scaleX(0);
            transform-origin: 50% 0%;
          }


figure {
    height: 120%;
    width: 400%;

  
  }
  
  img {
    height: 100%;
    width: 400%;
    object-fit: cover;
  }




.overlay {
    border-radius: 30px;
    border-bottom-left-radius: none;
    border-bottom-right-radius: none;
  
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.681); /* Couleur de fond semi-transparente */
    filter: invert(100%);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 13px !important;
    text-align: center;
  }

}