* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/*.container {
  width: 100%;
  height: 100vh;
}*/


body {
  height: 50vh;
  mix-blend-mode: normal;
  background-color: #FCFCFC;
}




::selection {
  background-color: #000000;
  color: white
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


nav {
display: flex;
position: absolute;
top: 20px;
left: 85%;
background-color: rgba(230, 230, 230, 0.593);
border: 0.8px solid black;
border-radius: 30px;
padding: 15px;
gap: 0.8em;
list-style-type: none;
}

nav a {
  text-transform: capitalize;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  color: #000000;
  font-weight: 200;
  font-size: 25px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;

}

nav p {
  font-size: 20px;
  font-weight: 100;
  text-align: center;

}

.logo {
  color: rgb(215, 215, 215) ;
 font-size: 120px;
 font-weight: 100;
  text-align: center;
  left: 15px;
  position: fixed;
  top: 5%;
font-family: Helvetica;
 letter-spacing: -8px;
}

.clipper-left {

  position: absolute;
  top: 10%;
   left:6%;
  width: 86vw;
  height: 80vh;
  overflow: clip;
  clip-path: inset(0 0 0 0);
  display: flex;
  justify-content: flex-start;
  border-radius: 30%;
  border: 0.8px solid black;

}


.loader-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 3rem;
  font-weight: 100;
  width: 100%;
  height: 100%;
  padding: 4em 16rem;
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
border: 0px;
}

.clipper-right {
  border-top: 0px solid black;
  position: absolute;
  top: 10%;
  right: 5%;
  width:55vw ;
  height: 80vh;

  overflow: clip;
  clip-path: inset(0 0 0 0);
  display: flex;
  border-radius: 20%;
  justify-content: flex-start;


}




.pre-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);
  z-index: 100000;

  background: rgba(0, 0, 0, 0);
}


.loader-text {
  position: relative;
margin: 7%;
margin-top: 0;

}


.loader-wrapper {
  position: relative;
  width: 2px;
  border-radius: 20px;
  height: 165px;
  background: #ffffff;

  overflow: hidden;
 transform: rotate(90deg); 
 
}

.loader {
  position: absolute;
  top: 0;
  width: 100%;

  height: 100%;
  background: rgb(0, 0, 0);
}




#threejs-container {
  position: absolute;
  top: 20%;
  left: 25%;
  width: 45vw;
  height: 65%;
  transform: translate(0%, 0%);
  overflow: hidden;
  border-radius: 18px;
  margin: 0%;
  transition: transform 0.3s ease;
  cursor:crosshair;

 filter: invert(0%);
  
}

.container-text {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
text-align: center;
width: 50%;
height: 20%;
}


 .container-text p{
  text-align: center;
  position: absolute;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: hidden;
  color: rgb(0, 0, 0);
  font-weight: 200;
  mix-blend-mode: normal;

}


@media (max-width: 900px) {
  .sidebar-nav {
    display: none;
  }

  .site-content {
    width: 100vw;
    left: 0;
  }

  .clipper-left {
    left: 0;
    width: 50vw;
  }
}